<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<h1>Contact</h1>
	<p>
	  Contact the Ruby on Rails Tutorial about the sample app at the
	  <a href="https://railstutorial.jp/contact">contact page</a>.
	</p>
  </body>
</html>