<% provide(:path,root_path) %>

<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  		<%= render "shared/user_info" %>
  	</section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  	<section class="micropost_form">
  		<%= render "shared/micropost_form" %>
  	</section>
    <%= render "shared/search" %>
  </aside>
	<div class="col-md-8">
	  <h3>Micropost Feed</h3>
	  <%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page fot the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application. 
  </h2>
  <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"Rails logo"), "https://railstutorial.jp/" %>

<% end %>