<% provide(:title, "All Users") %>
<% provide(:path, users_path) %>

<h1>All Users</h1>

<%= will_paginate %>
<div class="row">
  <div class="col-6 col-md-4">
	<%= render "shared/search" %>
  </div>
</div>

<ul class="users">
  <%= render partial: "user", collection: @users %>
</ul>

<%= will_paginate %>