<div id="messages">
  <%= render @messages %>
</div>

<form>
	<label for="text_id">Say something:</label><br>
	<input type="text" data-behavior="room_speaker" data-user="<%= @user.id %>" data-room="<%= @room_id %>" id="text_id">
	<button class="chat_sendbtn" data-behavior="room_speaker">送信する</button>
</form>
