<%= form_with url: yield(:path), method: :get, local: true, class: "form-inline" do |f| %>
  <%= f.text_field :search, placeholder: "Search" %>
  <%= f.submit :search, class: "btn btn-primary" %>
<% end %>
