<% if current_user?(reply.user) || current_user?(micropost.user) %>
  <li id="micropost-<%= reply.id %>">
    <%= link_to gravatar_for(reply.user, size: 50), reply.user %>
    <span class="user"><%= link_to reply.user.name, reply.user %></span>
    <span class="content">
      <%= reply.content %>
      <%= image_tag reply.picture.url if reply.picture? %>
    </span>
  </li>
<% end %>